// Wiewport
$tablet-width: 768px;
$desktop-width: 1440px;

// Fonts
$primary-font: "OpenSans", "Arial", sans-serif;
$secondary-font: "Cormorant", "Times New Roman", serif;

// Color
$bg-basic: #1d2f30;
$basic-color-text: #ffffff;
